body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 450px;
    background: linear-gradient(180deg, rgb(254, 120, 23) 40%, transparent 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
        width: 700px;
        height: 300px;
        background-color: rgb(255, 255, 255);
        -webkit-mask-image: url(/images/logo.svg);
        -webkit-mask-size: 300px 300px;
        mask-size: 300px 300px;
        mask-image: url(/images/logo.svg);
        mask-position: center;
        mask-repeat: no-repeat;
        transition: 200ms;
    }
    .logo:hover {
        transform: scale(1.1);
        transition: 200ms;
    }
    .button {
        width: 55px;
        height: 55px;
        clip-path: circle(50%);
        position: relative;
        background-color: white;
    }
}

footer {
    width: 100%;
    height: 500px;
    background-color: rgb(254, 120, 23);
}

.carousel-A-outer-container {
    width: calc(100% - 20px);
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
    .carousel-A-inner-container {
        height: 80vh;
        padding: 10px 150px 10px 150px;
        display: grid;
        grid-auto-columns: 28vh;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2px;
        grid-auto-flow: column dense;
        margin: 10px 0px 10px 0px;
    }
    .product-card {
        border: solid;
        border-width: 1px;
        border-color: rgb(255, 218, 192);
        transition: 200ms;
        background-size: cover;
        background-position: center;
    }
    .product-card:hover {
        transform: scale(1.1);
        transition: 200ms;
    }
    .carousel-title {
        color:rgb(254, 120, 23);
        font-size: 20px;
        position: sticky;
        left: 0px;
        padding-left: 150px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
    }
}

.carousel-A-outer-container::-webkit-scrollbar {
    display: none;
}

.announce-A-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 30px 0px;
    .announce-A-background-band {
        width: 100%;
        height: 200px;
        margin: 200px 0 200px 0;
        -webkit-transform: skewY(-5deg);
        -ms-transform: skewY(-5deg);
        transform: skewY(-5deg);
        background-color: rgb(254, 120, 23);
    }
    .announce-A-image {
        width: 70%;
        height: 700px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: -600px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.announce-B-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 30px 0px;
    .announce-B-band-A {
        background-color: rgb(255, 211, 179);
        width: 300px;
        height: 600px;
        -webkit-transform: skewX(8deg);
        -ms-transform: skewX(8deg);
        transform: skewX(8deg);
        margin-top: 20px;
        margin-left: 250px;
        padding: 10px;
    }
    .announce-B-band-B {
        width: 300px;
        height: 600px;
        -webkit-transform: skewX(8deg);
        -ms-transform: skewX(8deg);
        transform: skewX(8deg);
        margin-top: 10px;
        margin-left: -315px;
        padding: 10px;
        border: solid;
        border-width: 1px;
        border-color: rgb(254, 120, 23);
    }
    .announce-B-image-container-band {
        background-color: rgb(254, 120, 23);
        padding: 10px;
        width: 300px;
        height: 600px;
        -webkit-transform: skewX(8deg);
        -ms-transform: skewX(8deg);
        transform: skewX(8deg);
        margin-left: -315px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1ft);
        gap: 10px;
    }
    .announce-B-image-container {
        overflow: hidden;
    }
    .announce-B-image {
        background-image: url("/images/products/balcao1.webp");
        background-size: cover;
        transform: skewX(-8deg);
        width: calc(100% + 30px);
        margin-left: -15px;
        height: 100%;
        transition: 200ms;
    }
    .announce-B-image:hover {
        transform: skewX(-8deg) scale(1.1);
        transition: 200ms;
    }
}

.search {
    width: 450px;   
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin-top: 30px;
    border: solid;
    border-width: 1px;
    border-color: rgb(255, 187, 138);
    border-radius: 30px;
    overflow: hidden;
    .search-text-input {
        width: calc(100% - 80px);
        height: 100%;
        border: none;
        background-color: transparent;
        padding: 0px 0px 0px 20px;
    }
    .search-text-input:focus {
        outline: none;
    }
    .search-button-input {
        width: 60px;
        height: 100%;
        border: none;
        background-color: rgb(255, 180, 126);
        -webkit-mask-image: url(/images/icone-lupa.svg);
        -webkit-mask-size: 30px 30px;
        mask-size: 30px 30px;
        mask-image: url(/images/icone-lupa.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        transition: 200ms;
    }
    .search-button-input:hover {
        background-color: rgb(254, 120, 23);
        transition: 200ms;
    }
}

.show-product-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    .show-product-carousel-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .show-product-carousel {
            width: 15%;
            height: min-content;
            display: grid;
            grid-template-columns: 1;
            grid-gap: 2px;
            padding: 0px 2px 0px 0px;
            .show-product-carousel-image {
                border: solid;
                border-width: 1px;
                border-color: rgb(255, 218, 192);
                background-size: cover;
                background-position: center;
                aspect-ratio: 1 / 1;
                transition: 200ms;
            }
        }
        .show-product-image-container {
            width: 85%;
            height: 600px;
            border: solid;
            border-width: 1px;
            border-color: rgb(255, 218, 192);
            background-color: darkgrey;
            transition: 200ms;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .product-title {
        color:rgb(254, 120, 23);
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        margin: 30px 0px 30px 0px;
    }
}

.search-products-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: calc(13vw);
    grid-gap: 2px;
    grid-auto-flow: row dense;
    .product-card {
        border: solid;
        border-width: 1px;
        border-color: rgb(255, 218, 192);
        transition: 200ms;
        background-size: cover;
        background-position: center;
    }
    .product-card:hover {
        transform: scale(1.1);
        transition: 200ms;
    }
}